<%= form_for(@shop) do |f| %>

<% if shop.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title, '紹介店' %>
  <%= f.text_field :title, class: "form-control", style: "width:800px;", style: "height:40px;" %>

<br>
  <%= f.label :content, '紹介文' %>
  <%= f.text_area :content, class: "form-control", style: "width:800px;", style: "height:400px;" %>
  <br>
  <%= f.label :image, '画像' %>
  <%= f.file_field :picture, id: :shop_picture %>
  <%= f.submit  '投稿', class: "btn btn-default" %>
  <br>
<% end %>
 <br>