<p>店名: <%= @shop.title %></p>
<p>投稿者: <%= @shop.user.name %></p>
<p><%= image_tag(@shop.picture_url) if @shop.picture.present? %></p>
<p><%= @shop.content %></p>

<%= link_to '一覧に戻る', shops_path %>

<% if current_user&.shops&.find_by(id: @shop.id) %> <!--投稿したユーザーのみ、削除ボタンが表示される。--!>
    <%= link_to 'この紹介を編集する', edit_shop_path(@shop) %>
    <%= link_to 'この紹介を削除する', @shop, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %> 
<% end %>