<h1>トピック一覧</h1>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, topic %></li>
  <% end %>
</ul>

<h1>トピック新規作成</h1>

<%= form_for(@topic) do |f| %>
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :content, 'トピック内容' %>
  <%= f.text_field :content %>

  <%= f.submit '投稿' %>
<% end %>