<h1>トピック一覧</h1>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, topics_path(topic.id) %></li>
  <% end %>
</ul>

<h1>メッセージ新規作成ページ</h1>

<%= form_for(@topic) do |f| %>
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title %>

  <%= f.submit '投稿' %>
<% end %>