<h1>平井掲示板</h1>
<h3>平井限定の掲示板。<br>
平井についての告知や質問等、なんでもOKです！</h3>
<br>

<h4>トピック一覧</h4>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, topic %></li>
  <% end %>
</ul>

<h4>トピック新規作成</h4>

<%= form_for(@topic) do |f| %>
  <%= f.label :title, 'タイトル' %><br><%= f.text_field :title, :size=>"50" %>
  <br>
  <%= f.label :content, 'トピック内容' %><br><%= f.text_area :content, :size=>"70x11" %>
  <%= f.submit '投稿' %>
<% end %>